<div>
    <p> <%= comment.content %> </p>
    <small> <%= post.user.name %> </small>

    <% if(locals.user && (locals.user._id == comment.user.id) )  { %>
    
        <a href="/comments/destroy/<%= comment._id %>"> delete comment </a>

    <% } %>
</div>