<footer>
    <div id="rights">
        @Codieal. All Rights Reserved
    </div>
    <% if(locals.user) { %>
    <div id="foot-links">
        <a href="/">Home </a> <br>
        <a href="/users/profile/<%= user ? user.id : '' %>"> Profile </a>
    </div>
    <% } %>

</footer>