<footer>
    <div id="rights">
        @Codieal. All Rights Reserved
    </div>
    <div id="foot-links">
        <a href="/">Home </a> <br>
        <a href="/users/profile/<%= user.id %>"> Profile </a>
    </div>

</footer>