<header>
    <div id="logo-name">
    Codieal
    </div>

    
    <div id="links">
    <% if(locals.user){%>
       <a href="/users/profile/<%= user.id %>">
            <%= user.name %> 
       </a>
        |
       <a href="/users/sign-out">

         Sign out 
        </a>
        <%} else {%>

        <a href="/users/sign-in">
            Sign in 
       </a>
       |
       <a href="/users/sign-up">

             Sign up 
        </a>
    
    <%} %>
    </div>

</header>