<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
</head>
<body>
    <%- include('_header'); %>

    
    <%- body %>


    <!-- <div class="content-message">Codieal web</div>

    <div id="content">
        public is using this widely
    </div> -->

    <%- include('_footer'); %>


</body>
</html>



