<link rel="stylesheet" type="text/css" href="/assets/css/demo.css">

<h1 id="heading"> User Profile</h1>

<p>Name : <%= user.name %> </p>
<p>Email : <%= user.email %> </p>

<form action="/users/sign-out" method="GET">
<input type="submit" value="sign-out">
</form>