footer {
  height: 100px;
  background-color: black;
  color: white;
  font-size: 30px;
  padding: 2px;
  column-count: 2;
}

#foot-links a {
  text-decoration: none;
  color: white;
}

#foot-links a:hover {
  text-decoration: underline;
}
